<mat-nav-list>
  <div>
      <div *ngIf="isAuth">Hello, {{userName}}</div>
      <a *ngIf="!isAuth" mat-list-item routerLink="/register">
        <mat-icon>account_circle</mat-icon>
      </a>
      <a *ngIf="!isAuth" mat-list-item routerLink="/login">
        <mat-icon>exit_to_app</mat-icon>
      </a>
      <a *ngIf="isAuth" mat-list-item (click)="logout()" routerLink="/logout">
        <mat-icon>power_settings_new</mat-icon>
      </a>
      <a *ngIf="isAuth && isAdmin" mat-list-item routerLink="/admintools">
        <mat-icon>settings</mat-icon>
      </a>
  </div>
</mat-nav-list>
