<!-- <div>
  <div *ngFor="let message of messages | async">
    ({{message.createdOn.toDate() | date: 'dd.MM hh:mm'}}) {{message.author}}: {{message.text}}
  </div>
</div>
    <form (ngSubmit)="sendMessage()" [formGroup]="messageForm" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
      <mat-form-field>
        <input formControlName="text" autocomplete="off" type="text" matInput placeholder="Enter message...">
      </mat-form-field> -->

      <div fxLayoutAlign="center center">
        <table class="tablebg">
          <tbody>
            <tr>
                <th class="chatheader" fxLayoutAlign="center center" colspan="2">Chat</th>
            </tr>
            <tr>
              <td class="row1" fxLayoutAlign="center center">
                <form (ngSubmit)="sendMessage()" [formGroup]="messageForm" class="formbox">
                  <mat-form-field class="inputbox">
                    <input formControlName='text' autocomplete="off" type="text" matInput placeholder="Message:">
                  </mat-form-field>
                  <button mat-icon-button type="submit" ><mat-icon>send</mat-icon></button>
                </form>
              </td>
              <td class="onlinelist">Online List</td>
            </tr>
            <tr>
              <td style="text-align:left;">
                  <div id="chat">
                    <div *ngFor="let message of messages | async; index as i">
                      <table class="messagesbg">
                        <tbody>
                          <tr>
                            <td>
                              <button *ngIf="isAdmin" id="{{i}}" (click)="deleteMessage($event)">X</button>
                              <b>
                                ({{message.createdOn.toDate() | date: 'dd.MM hh:mm'}}) {{message.author}}: {{message.text}}
                              </b>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                  </div>
                </div>
              </td>
              <!-- <td class="col1" fxLayoutAlign="center center">
                <div id='whois_online'>
                  <div>a</div>
                  <div>a</div>
                  <div>a</div>
                  <div>a</div>
                  <div>a</div>
                  <div>a</div>
                  <div>a</div>
                </div>
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>